html {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.hangman {
  position: relative;
  width: 100%;
}

.bodypart {
  position: absolute;
  left: 50%;
  visibility: hidden;
}

.head {
  margin: auto;
  margin-left: -5rem;
  width: 10rem;
  height: 10rem;
  border: .1rem solid black;
  border-radius: 50%;
}

.arm, .body {
  top:10rem;
}

.body, .Limb {
  margin: 0 auto;
  height: 10rem;
  width: .1rem;
  background: black;
}

.leg {
  top:18.5rem;
}

.body {
  margin-left: .05rem;
}

.Larm, .Lleg {
  transform-origin: 100%;
  transform: rotate(45deg);
  margin-left: -3.536rem;
}

.Rarm, .Rleg {
  transform-origin: 100%;
  transform: rotate(-45deg);
  margin-left: 3.536rem;
}

p:first-of-type {
  position: absolute;
  top: 30rem;
  width: 100%;
}

p:last-of-type {
  position: absolute;
  top: 35rem;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}