.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.hangman {
  position: relative;
  width: 100%;
  height: auto;
  transform: translateY(-5rem);
}

.bodypart {
  position: absolute;
  margin: auto;
  right: 50%;
}

.head {
  /* right: 50%; */
  /* margin: auto; */
  /* align-content: center; */
  width: 10rem;
  height: 10rem;
  border: .1rem solid black;
  border-radius: 50%;
}

.arm, .body {
  top:10rem;
}

.body, .Limb {
  margin: 0 auto;
  height: 10rem;
  width: .1rem;
  background: black;
}

.leg {
  top:18.5rem;
}

.Larm, .Lleg {
  transform-origin: 100%;
  transform: rotate(45deg);
  /* right: 50%; */
}

.Rarm, .Rleg {
  transform-origin: 100%;
  transform: rotate(-45deg);
  /* left: 50%; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}